<div class="principal">
  <div class="marg">
    <div class="box">
      <p class="title">
        <span class="sp1">CRIE SITES INCRÍVEIS</span><span class="sp2"> COM TEMPLATES PERSONALIZÁVEIS.</span>
      </p>
      <p class="info">
        Escolha entre uma variedade de templates modernos e responsivos. Fácil de usar, rápido de configurar e ideal para qualquer projeto.
      </p>
    </div>
  </div>
  <div class="bx"></div>
  <div class="icon"><i class="fa-solid fa-chevron-down"></i></div>
</div>
<div class="magic-card">
  <app-magic-card></app-magic-card>
  <app-only-accordion-element></app-only-accordion-element>
</div>